version: "3"
services:
  go:
    ports:
      - "8100:8100"
  postgres:
    ports:
      - "5432:5432"
  pgadmin:
    ports:
       - "8000:80"
  prometheus:
    ports:
      - "9090:9090"
  grafana:
    ports:
      - "3000:3000"